<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{$keywords}">
        <meta name="description" content="{$description}">
        <link rel="stylesheet" href="{$csspath}reset.css">
        <link rel="stylesheet" href="{$csspath}style.css">        
        <link rel="stylesheet" href="{$csspath}infoboxstyle.css">
        <title>{$title}</title>
    </head>

    <body>
        <div class="grid">
            <div class="grid-cell"><h1>localhost</h1></div>
        </div>
        
         <div class="grid">
           
        </div>
        <div class="grid">
            <div class="grid-cell">
                <div class="cell-head green question-icon"><p>{$title}</p></div>
                {$text}        
            </div>
        </div>

        <div class="grid">
            
            <div class="grid-cell">
                <div class="cell-head blue video-icon">
                    <p><a href="{$siteurl}Category">Heading</p>
                </div>
                    <p>
                        <a href="{$siteurl}Subfolder/Topic">Topic</a>
                    </p>
            </div>
    
            <div class="grid-cell">
                <div class="cell-head green bell-icon"><p>News</p></div>
                <p>[09.11.2018] New News.</p>
                <p></p>
                <p></p>
            </div>
            <div class="grid-cell-1">
                <div class="cell-head blue webcam-icon">
                    <p>Social</p>
                </div>
                <p><a href="https://twitter.com/" target="_blank">Twitter</a></p>
                <p><a href="http://www.youtube.com/" target="_blank">Youtube</a></p>
                <p><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
            </div>
        </div>
    
        <div class="navbar">
            <div class="navbar-cell"><a href="{$siteurl}imprint.html">Impressum, Datenschutzerklärung und Kontakt</a></div>
        </div>
    </body>
</html>